.App {
  text-align: center;
}

.message {
  background-color: #3b3b98;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.form {
  text-align: center;
}

.completed {
  text-decoration: line-through;
}
